@import "style.css";

.favorite{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite-header{
    position: absolute;
    font-size: var(--headers);
    top: 0.5rem;

}
.main-favorite{
    
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    height: 90vh;
}